<p *ngIf="solicitud.nombre.length > 10">El nombre tiene más de 10 caracteres</p>


<div>
  <h2>Solicitudes</h2>
  <table>
    <tr *ngFor="let sol of solicitudes">
      <app-selector-solicitante [sol]="sol" (solicitudBorrada)="borrarSolicitud(sol)"></app-selector-solicitante>
    </tr>
  </table>
</div>


<h1>Solicitud de comedor</h1>
<h2>Nueva solicitud</h2>

<div>
  <label>Nombre</label>
  <input (keyup)="nombre($event)" [class]="colorNombre">
</div>

<div>
  <label>Apellidos</label>
  <input (keyup)="apellidos($event)" class="{{colorApe}}">
</div>

<!-- <app-centro [centro]="centro"></app-centro> -->
<app-selector-centro></app-selector-centro>

<button>Enviar</button>
