<p *ngIf="solicitud.nombre.length > 10">El nombre tiene más de 10 caracteres</p>

<h1>Solicitud de comedor</h1>
<h2>Nueva solicitud</h2>

<div>
  <label>Nombre</label>
  <input (keyup)="nombre($event)" [class]="colorNombre">
</div>

<div>
  <label>Apellidos</label>
  <input (keyup)="apellidos($event)" class="{{colorApe}}">
</div>

<button>Enviar</button>

<div>
  <table>
    <tr *ngFor="let sol of solicitudes">
      <td>{{sol.nombre}}</td>
      <td>{{sol.apellidos}}</td>
    </tr>
  </table>
</div>

<p>{{solicitud.nombre}}</p>
<p>{{solicitud.apellidos}}</p>

<app-centro [centro]="centro"></app-centro>
<app-selector-centro></app-selector-centro>
